.navmenu{
    display: flex;
    flex-direction: column;
    width: 20%;
    background: cadetblue;
    padding-top: 50px;
    font-size: 29px;
}

.item{
    color: wheat;
    font-size: 25px;
    text-decoration: none;
}

.active{
    color:lime;
    text-decoration: none;
    font-size: 31px;
}
