.navmenu{
    display: flex;
    flex-direction: column;
    width: 20%;
    background: cadetblue;
    padding-top: 50px;
    font-size: 29px;
}

.item{
    color: wheat;
    font-size: 25px;
    underline: none;
}