.App{
  display: flex;
  width: 86%;
  flex-direction: column;
  margin-left: 7%;
  margin-right: 7%;

}

.base{
  display: flex;
  flex-direction: row;
}
.content{
  display: flex;
  flex-direction: column;
  background: darkgoldenrod;
  width: 80%;

}
